html {
  font: normal normal normal 18px/1.2 droid, "Segoe UI", "Helvetica Neue", Roboto, Calibri, sans-serif;
  color: #292f33;
}

body {
  font-family: droid, sans-serif;
  background-color: aliceblue;
}
html, body {
  height: 100%;
  margin: 0;
}
#contributors {
  margin-top: 50px;
}

#contributors .card {
  margin: 20px auto;
  max-width: 220px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.18);
}

.card .card-title, .card .card-text {
  text-align: center;
}

.card .card-title {
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card a:hover {
  text-decoration: none;
}

.card a {
  color: #000;
}

h1{
  text-align: center;
}ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  overflow: hidden;
  background-color: #333333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}
footer {
  text-align: center;
  width: 100%;
  padding: 0 20px;
}
footer a {
  color: #999;
}
footer a:hover {
  color: #efefef;
}


.button svg {
  width: 20px;
  margin-right: 5px;
}

.content {
  min-height: calc(100vh - 70px);
  padding: 40px 40px 0 40px;
}