@font-face {
  font-family: droid;
  src: url(../fonts/droid.ttf);
}
html {
  font: normal normal normal 18px/1.2 droid, "Segoe UI", "Helvetica Neue", Roboto, Calibri, sans-serif;
  color: #292f33;
}
body{
  font-family: droid, sans-serif;
}
.container {
  max-width: 750px;
  margin: 0 auto;
  text-align: center;
}
.title{
  font-weight: 200;
}

.tt-query,
.tt-hint {
  display: none;
  /*
  height: 30px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
  */
} 

.typeahead {
  background-color: #fff;
  width: 100%;
  font-family:  droid, "Segoe UI", "Helvetica Neue", sans-serif;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}
.twitter-typeahead{
  width: 100%;
}
.tt-menu {
  width: 100%;
  margin: 12px 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
  text-align: center;
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}
.ar{
  border-bottom: 1px solid #ededed;
  padding-bottom: 4px;
  margin-bottom: 5px;
  color: #bbb;
}
#scrollable-dropdown-menu .tt-menu {
  max-height: 150px;
  overflow-y: auto;
}

::-webkit-input-placeholder { 
  text-align: center;
}

:-ms-input-placeholder {
  text-align: center;
}

::placeholder {
  text-align: center;
}
.is-used-by-icon{
  display: inline-block;
  position: relative;
  width: auto;
  text-align: center;
  font-size: 12px;
}
.is-used-by-icon svg{
  width: 30px;
  display: block;
  margin: auto;
}
.button svg{
  width: 17px;
  margin-right: 5px;
}
.rtl{
  direction: rtl;
}